#imgLogo{
    width:80px;
}
.corprincipal{
    background-color:#800080;
    color:#fff;
}
.corVerde{
    text-color: yellowgreen;
}
nav, li > a{
    font-weight: bold;
    font-size: 18px;
}
li > a:hover{
    background-color: darkmagenta;
    font-size: 120%;
    border-radius: 10%;
}
#imgRodape{
    width: 200px;
}
ul.fonte {
    list-style-type: none;
}
.imgPlanos{
    width: 220px;
    height: 200px;
}