#imgLogo{
    width:80px;
}
.corprincipal{
    background-color:#800080;
    color:#fff;
}
nav, li > a{
    font-weight: bold;
    font-size: 18px;
}
.hoverMenu:hover{
    background-color: darkmagenta;
    font-size: 120%;
    border-radius: 10%;
}

#imgRodape{
    width: 200px;
}
ul.fonte {
    list-style-type: none;
}
.imgPlanos{
    width: 220px;
    height: 200px;
}
#flexAcessibilidade > div{
    margin: 0px 5px;
}
.textoMenor{
    width: 40%;
    margin-left: 30%;
}

.textoMedio{
    width: 55%;
    margin-left: 20%;
}
.imgAtendimento{
    width: 120px;
    height: 100px;
}
#btnContato{
    margin-left:32%;
}

#imgSimulador{
    height: 100%;
}
#imgPatrocinador{
    width: 150px;
    height: 120px;
}
.inputSimulador{
    width: 12%;
}
.verMais{
    display: none;
}
/*Reorganizar as duas últimas colunas da informacoes.html*/
@media(min-width:768px){
    .espacoInfo{
        margin-left: 10%;
    }
}
@media(max-width:768px){
    #imgSimulador{
        height: 95%;
        margin-top: 2.2%;
    }
}
/*Retirar o texto dos slides de dispositivos muito pequenos*/
@media(max-width:500px){
    .textoSlide{
        display: none;
    }
}
/*Inclusão para deixar o menu responsivo para o iPhone 5/SE*/
@media(max-width:330px){
    a[class="navbar-brand"]{
        font-size: 14px;
    }
}
