#imgLogo{
    width:80px;
}
.corprincipal{
    background-color:#800080;
    color:#fff;
}
nav, li > a{
    font-weight: bold;
    font-size: 18px;
}
li > a:hover{
    background-color: darkmagenta;
    font-size: 120%;
    border-radius: 10%;
}
#imgRodape{
    width: 200px;
}
ul.fonte {
    list-style-type: none;
}
.imgPlanos{
    width: 220px;
    height: 200px;
}
#flexAcessibilidade > div{
    margin: 0px 5px;
}
.textoMenor{
    width: 40%;
    margin-left: 30%;
}

.textoMedio{
    width: 55%;
    margin-left: 20%;
}
.imgAtendimento{
    width: 120px;
    height: 100px;
}
#btnContato{
    margin-left:32%;
}
@media(min-width:768px){
    .espacoInfo{
        margin-left: 10%;
    }
}